.auth_page {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 60%;
  transform: translate(-50%, -50%);
  background-color: bisque;
  display: flex;
  border-radius: 20px;
  padding-block: 60px;

  .form_block {
    width: 50%;
    padding-inline: 50px;
    box-sizing: border-box;
  }

  .image_block {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  }

  .btn-change_is_login {
    border-radius: 10px;
    padding: 15px 40px;
    width: fit-content;
    background-color: var(--primary_color);
  }
}
