.console {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  .header {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--border_color);
    align-items: center;
    height: 50px;
    background-color: var(--background_color);
    padding: 5px 10px;
    h2 {
      font-size: 14px;
    }
    .manage_buttons {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .reverse {
      transform: rotate(180deg);
    }

    .btn {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .icon {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        width: 30px;
        aspect-ratio: 1;
        transition: 0.1s;
        &.close {
          width: 18px;
        }
      }
    }
  }
  .main_block {
    height: 280px;
    box-sizing: border-box;
    background-color: var(--background_color);
    border-top: 2px solid var(--border_color);
    overflow: scroll;
    padding-bottom: 220px;
    transition: 0.3s;
    padding-top: 10px;
    padding-inline: 5px;
    &_close {
      height: 0;
      transition: 0.3s;
    }
    .console_message {
      position: relative;
      padding: 5px;
      .log {
        display: inline;
        font-size: 12px;
        font-family: "Terminal";
        margin-right: 5px; /* Добавляем пробел справа */
        color: var(--primary_color);
      }
      .msg {
        display: inline;
        font-size: 12px;
        font-family: "Terminal";
      }
    }
    .console_input {
      padding: 5px;
      position: relative;
      width: 100%;
      background-color: transparent;
      font-size: 12px;
      font-family: "Terminal";
      color: var(--success_color);

      &::before {
        position: absolute;
        content: "";
        width: 5px;
        height: 10px;
        left: 0;
        top: 0;
        background-color: var(--success_color);
      }
    }
  }
}
